html{
  font-size: 16pt;
  font-family: Raleway;
  color: #3B3131;
}

div{
  border: 0px solid orange;
}

h1{
  font-family: 'Josefin Sans';
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.5;
}

h2{
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: bold;
}

h3{
  font-size: 1.25rem;
  line-height: 1;
  font-weight: bold;
}

/* header section */
header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

header nav ul {
  display: flex;
}

nav li {
  padding-left: 1rem;
}

.logo{
  text-transform: uppercase;
  font-stretch: condensed;
  font-size: 1.5rem;

}

#colmar{
  font-weight: bold;
}

#academy{
  color: #B6B6B4;
}

header .mobile {
  display: none;
}

@media only screen and (max-width: 760px) {
  header .desktop {
    display: none;
  }

  header .desktop {
    display: none;
  }

  header div .desktop {
    display: none;
  }

  header .mobile {
    display: block;
    width: 100%;
  }

  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
}

/* banner section */
#banner{
  width: 100%;
  background-color: #D1D0CE;
  display: flex;
}

#banner-image{
  width: 60%;
  border-color: black;
  display: flex;
}

#banner-image img{
  width: 100%;
  height: auto;
  margin: 2rem 1.5rem;
}

#banner-text{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#banner-button{
  background-color: #3B3131;
  padding: 0.5rem 0;
  text-align: center;
  color: white;
  font-size: .75rem;
  line-height: 2;
}

#banner h1{
  padding-bottom: ;
}

#banner h2{
  padding-bottom: 1.5rem;
}

@media only screen and (max-width: 760px) {
  #banner{
    flex-direction: column;
  }

  #banner-image{
    width: 100%;
  }

  #banner-image img{
    margin: 0px;
  }

  #banner-text{
    width: 100%;
    justify-content:flex-start;
    padding: 2rem 1rem;
  }
}

/* info section */
#info{
  width: 100%;
  display: flex;
}

#info-main{
  width: 60%;
  height: auto;
  margin: 2rem 1.5rem;
  display: inline-block;
}

#info-main img{
  max-width: 100%;
  height: auto;
}

#info-quote{
  font-size: 1rem;
  line-height: 1.3;
  padding-bottom: 2rem;
}

#info-quote-author{
  font-size: .75rem;
  font-weight: bold;
}

#info-items{
  display: flex;
  flex-direction: column;
  border-left: 1px solid #D1D0CE;
  width: 40%;
  height: auto;
  margin-bottom: 2rem;
}

.info-item{
  display: flex;
  max-width: 100%;
  height: auto;
  align-items: center;
  border-bottom: 1px solid #D1D0CE;
  font-size: .75rem;
}

.info-image{
  width: 35%;
  height: auto;
  padding: 1rem;
}

.info-image img{
  width: 100%;
  display: inline-block;
}

.info-image .mobile{
  display: none;
}

.info-item:last-child{
  background-color: #D1D0CE;
}

.info-item-text{
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.5;
}

.info-item-text span{
  padding: 0.5rem 0rem;
}

.info-item-text a{
  text-decoration: none;
  font-size: .75rem;
  color: #488AC7;
}

@media only screen and (max-width: 760px) {
  #info{
      border-bottom: 1px solid #D1D0CE;
      padding-left: 1rem;
      padding-top: 1rem;
      padding-right: 1rem;
      padding-bottom: 2rem;
  }

  #info-main{
    display: none;
  }

  #info-items{
    width: 100%;
    border: 0;
  }

  .info-item{
    display: flex;
    flex-direction: column;
    border: 0;
  }
  .info-item:last-child{
    background-color: white;
  }

  .info-image {
    width: 100%;
  }

  .info-image .desktop{
    display: none;
  }

  .info-image .mobile{
    display: block;
  }

  .info-item-text{
    width: 100%;
    padding-left: 2rem;
  }
}

/* courses section */
#courses{
  display: flex;
  background-color: #D1D0CE;
  padding: 1rem 3.5rem;
  flex-direction: column;
  align-items: center;
}

#courses h1{
  text-align: center;
  padding: 1rem 0px;
  width: 100%;
}

#courses-container{
  display: inline-flex;
  align-content: space-between;
  padding: 1rem;
  width: 100%;
}

.course-container{
  display: flex;
  flex-direction: column;
  width: 33%;
  margin: 0px 1rem;
}

.course-container img{
  height: auto;
}

.course-container h3{
  background-color: white;
  padding-top: 1rem;
  padding-left: 1rem;
}

.course-text-container{
  background-color: white;
  padding-top: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1.5rem;
  height: 100%;
}

.course-text-container span{
  display: block;
}

.courses-label{
  text-transform: uppercase;
  padding: 0.5rem 0px;
  font-size: .9rem;
  color: grey;
}

.course-description{
  font-size: .9rem;
  color: grey;
  line-height: 1.5;
}

@media only screen and (max-width: 760px) {
  #courses{
    background-color: white;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    margin: 0;
    border-bottom: 1px solid #D1D0CE;
  }

  #courses-container{
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .course-container img{
    display: none;
  }

  .course-container h3{
    background-color: #D1D0CE;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .course-container h3:last-child{
    margin-bottom: 0px;
  }

  .course-container{
    width: 100%;
  }

  .course-text-container{
    display: none !important;
  }
}

/* thesis section */
#thesis-section{
  width: 100%;
}

#thesis-header{
  margin: 2rem auto;
  text-align: center;
}

#thesis-body{
  display: flex;
}

#thesis-main {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
  padding-bottom: 1.5rem;
  padding-right: 1.5rem;
}

#thesis-main video{
  height: 35%;
}

#thesis-main h3{
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}

#thesis-quote{
  line-height: 1.5;
  padding-bottom: 2rem;
}

#thesis-items{
  width: 40%;
}

.thesis-item:first-child{
  background-color: #D1D0CE;
}

.thesis-item{
  display: inline-flex;
}

.thesis-item img{
  padding: 1rem;
  width: 35%;
  height: auto;
}

.thesis-item-text{
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.thesis-item-text {
  line-height: 1.5;
}

.thesis-item-text h3{
  line-height: 1.6;
  padding-bottom: 0.5rem;
}
@media only screen and (max-width: 760px) {
  #thesis-main {
    width: 100%;
    height: auto;
    padding-left: 0;
    padding-right: 0;
  }

  #thesis-quote{
    display: none;
  }

  #thesis-items{
    display: none;
  }

  #thesis-main  h3{
    display: none;
  }
}
/* footer */
footer{
  border-top: 1px solid #D1D0CE;
  padding-top: 1rem;
  padding-left: 1.5rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 0.5rem;
}

footer ul{
  display: inline-flex;
}

footer li{
  padding: 0px 0.5rem;
}

@media only screen and (max-width: 760px) {
  footer ul{
    display: none;
  }
}
